<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <h2>ランキング</h2>
    <% i=0 %>
    <% @ranking_data.each{|key, value| %>
      <% i+=1 %>
      <div class="card">
        <div class="card-head">
          <h4><%= i %>位</h4>
        </div>
        <div class="card-body">
          <strong>総収支：<%= value %>円</strong>
          </br>
          <strong><%= key %>さん</strong>
        </div>
      </div>
    <% } %>
  </div>
</div>
